node-red/Spotify Connect Web
[{"id":"4375cdd7.9f0814","type":"tab","label":"Spotify Connect Web","disabled":false,"info":"Quick and dirty interface to allow\nMoode Spotify Connect to report back\nto Moode and change the interface."},{"id":"3fd48f27.45b39","type":"inject","z":"4375cdd7.9f0814","name":"1 sec interval","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":380,"wires":[["2cd6aa86.e7ccc6"]]},{"id":"2cd6aa86.e7ccc6","type":"http request","z":"4375cdd7.9f0814","name":"Spotify Status","method":"GET","ret":"obj","url":"http://localhost:4000/api/info/status","tls":"","x":380,"y":380,"wires":[["c78bc377.41ae1"]]},{"id":"c78bc377.41ae1","type":"function","z":"4375cdd7.9f0814","name":"playStatus","func":"var previouslyPlaying = context.get('previouslyPlaying') || false;\nvar messages = [null, null, null];\n\nif (msg.payload.active) {\n    if ((flow.get('newClient') || !previouslyPlaying) && msg.payload.playing) {\n        flow.set('newClient', false);\n        context.set('previouslyPlaying', true);\n        messages[0] = {payload: '', action: 'start'};\n    }\n    \n    if (msg.payload.playing) {\n        messages[1] = {payload: '', action: 'playing'};\n    }\n    \n    \n    if (previouslyPlaying && !msg.payload.playing) {\n        context.set('previouslyPlaying', false);\n        messages[2] = {payload: '', action: 'stop'};\n    }\n}\n\nreturn messages;","outputs":3,"noerr":0,"x":550,"y":380,"wires":[["4671720a.4b517c"],["6abfa6b6.8763b8"],["e05143c1.be7f6"]],"outputLabels":["Start","Stop","Playing"]},{"id":"6341b112.101d6","type":"http request","z":"4375cdd7.9f0814","name":"Get Metadata","method":"GET","ret":"obj","url":"http://localhost:4000/api/info/metadata","tls":"","x":880,"y":360,"wires":[["59a80d6e.1baf54"]]},{"id":"59a80d6e.1baf54","type":"function","z":"4375cdd7.9f0814","name":"isNewSong","func":"var previousTrack = flow.get('previousTrack') || '';\n\nif (previousTrack !== msg.payload.track_uri) {\n    flow.set('previousTrack', msg.payload.track_uri);\n    msg.action = 'newSong';\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":1050,"y":360,"wires":[["b4f80630.49aa78"]]},{"id":"6bcc6860.e01988","type":"websocket out","z":"4375cdd7.9f0814","name":"engine-spc-response","server":"3cf89739.d3a338","client":"","x":1500,"y":420,"wires":[]},{"id":"4671720a.4b517c","type":"function","z":"4375cdd7.9f0814","name":"Start","func":"flow.set('previousTrack', '');\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":340,"wires":[["6341b112.101d6"]]},{"id":"e05143c1.be7f6","type":"function","z":"4375cdd7.9f0814","name":"Stop","func":"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["b4f80630.49aa78"]]},{"id":"6abfa6b6.8763b8","type":"function","z":"4375cdd7.9f0814","name":"Playing","func":"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":380,"wires":[["6341b112.101d6"]]},{"id":"b4f80630.49aa78","type":"function","z":"4375cdd7.9f0814","name":"Format Output","func":"msg.payload = {\n    action: 'engineSpc:' + msg.action,\n    metadata: msg.payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":420,"wires":[["6bcc6860.e01988","16ed2a6b.a45f26"]]},{"id":"16ed2a6b.a45f26","type":"debug","z":"4375cdd7.9f0814","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":480,"wires":[]},{"id":"697e7060.f07f5","type":"websocket in","z":"4375cdd7.9f0814","name":"Client","server":"3cf89739.d3a338","client":"","x":150,"y":460,"wires":[["73fe0867.7b8e58"]]},{"id":"73fe0867.7b8e58","type":"function","z":"4375cdd7.9f0814","name":"newClient","func":"flow.set('newClient', true);\nreturn null;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[[]]},{"id":"3cf89739.d3a338","type":"websocket-listener","z":"","path":"/engine-spc","wholemsg":"false"}]
